# üì¶ Bloco 3, 4 e 5 ‚Äì Complemento de Tabelas SGV

In [1]:
import sqlite3
import os

# Caminho relativo do notebook (notebooks/) at√© o banco (data/)
db_path = os.path.join("..", "data", "melhores_compras.db")

# Conex√£o
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
print("‚úÖ Conectado com sucesso ao banco de dados.")

‚úÖ Conectado com sucesso ao banco de dados.

### üè¢ Bloco 3 ‚Äì Funcion√°rios e Estrutura Interna

In [2]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS depto (
    id_depto INTEGER PRIMARY KEY AUTOINCREMENT,
    nome_depto TEXT NOT NULL
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS end_func (
    id_end_func INTEGER PRIMARY KEY AUTOINCREMENT,
    id_funcionario INTEGER,
    id_logradouro INTEGER,
    numero TEXT,
    complemento TEXT,
    FOREIGN KEY (id_funcionario) REFERENCES funcionario(id_funcionario),
    FOREIGN KEY (id_logradouro) REFERENCES logradouro(id_logradouro)
);
""")
conn.commit()
print("‚úÖ Bloco 3 criado com sucesso.")

‚úÖ Bloco 3 criado com sucesso.

### üì¶ Bloco 4 ‚Äì Produtos e Categorias

In [3]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS categoria (
    id_categoria INTEGER PRIMARY KEY AUTOINCREMENT,
    nome_categoria TEXT NOT NULL
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS produto_video (
    id_produto_video INTEGER PRIMARY KEY AUTOINCREMENT,
    id_produto INTEGER,
    url_video TEXT,
    descricao TEXT,
    FOREIGN KEY (id_produto) REFERENCES produto(id_produto)
);
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS imagem_produto (
    id_imagem INTEGER PRIMARY KEY AUTOINCREMENT,
    id_produto INTEGER,
    url_imagem TEXT,
    FOREIGN KEY (id_produto) REFERENCES produto(id_produto)
);
""")
conn.commit()
print("‚úÖ Bloco 4 criado com sucesso.")

‚úÖ Bloco 4 criado com sucesso.

### üí¨ Bloco 5 ‚Äì Intera√ß√µes

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS satisfacao (
    id_satisfacao INTEGER PRIMARY KEY AUTOINCREMENT,
    id_sac INTEGER,
    nota INTEGER,
    comentario TEXT,
    FOREIGN KEY (id_sac) REFERENCES sac(id_sac)
);
""")
conn.commit()
print("‚úÖ Bloco 5 criado com sucesso.")
conn.close()

‚úÖ Bloco 5 criado com sucesso.

In [5]:

# üìã Verificando tabelas criadas (evid√™ncia FIAP) no VS Code para nbconvert

import sqlite3, os
db_path = os.path.join("..", "data", "melhores_compras.db")
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tabelas = cursor.fetchall()

print("Tabelas criadas neste notebook:")
for t in tabelas:
    print(" -", t[0])

Tabelas criadas neste notebook:
 - sqlite_sequence
 - produto
 - video_produto
 - cliente
 - funcionario
 - visualizacao_video
 - sac
 - auditoria_sac
 - depto
 - end_func
 - categoria
 - produto_video
 - imagem_produto
 - satisfacao

In [6]:
import pandas as pd

# SELECT * FROM produto
print("üì¶ Produtos:")
df_produto = pd.read_sql_query("SELECT * FROM produto LIMIT 5", conn)
display(df_produto)

# SELECT * FROM categoria
print("üìÇ Categorias:")
df_categoria = pd.read_sql_query("SELECT * FROM categoria LIMIT 5", conn)
display(df_categoria)

# SELECT * FROM cliente
print("üë§ Clientes:")
df_cliente = pd.read_sql_query("SELECT * FROM cliente LIMIT 5", conn)
display(df_cliente)

# SELECT * FROM funcionario
print("üë®‚Äçüíº Funcion√°rios:")
df_func = pd.read_sql_query("SELECT * FROM funcionario LIMIT 5", conn)
display(df_func)

# SELECT * FROM sac
print("üì® Chamados (SAC):")
df_sac = pd.read_sql_query("SELECT * FROM sac LIMIT 5", conn)
display(df_sac)

# SELECT * FROM satisfacao
print("‚≠ê Satisfa√ß√£o:")
df_satisfacao = pd.read_sql_query("SELECT * FROM satisfacao LIMIT 5", conn)
display(df_satisfacao)

# SELECT * FROM visualizacao_video
print("üìπ Visualiza√ß√µes:")
df_view = pd.read_sql_query("SELECT * FROM visualizacao_video LIMIT 5", conn)
display(df_view)

üì¶ Produtos:

Empty DataFrame
Columns: [id_produto, nome, descricao, preco, data_cadastro]
Index: []

üìÇ Categorias:

Empty DataFrame
Columns: [id_categoria, nome_categoria]
Index: []

üë§ Clientes:

,id_cliente,nome,email,telefone,data_cadastro
0,1,Alice Silva,alice@example.com,(11)99999-1111,2025-04-21 13:01:17
1,2,Bruno Souza,bruno@example.com,(21)98888-2222,2025-04-21 13:01:17
2,3,Carla Mendes,carla@example.com,(31)97777-3333,2025-04-21 13:01:17
3,4,Jo√£o da Silva,joao.silva@email.com,(11)99999-1111,2024-09-08 00:00:00
4,5,Empresa XPTO Ltda.,contato@xpto.com.br,(11)22222-2222,2025-04-21 14:10:15

üë®‚Äçüíº Funcion√°rios:

,id_funcionario,nome,cpf,data_nascimento,telefone,email,cargo,departamento
0,1,Marcos Lima,12345678901,1985-02-15,(11)99999-0000,marcos@empresa.com,Atendente,SAC
1,2,Fernanda Rocha,10987654321,1990-07-23,(11)98888-1111,fernanda@empresa.com,Analista,Ouvidoria

üì® Chamados (SAC):

,id_sac,id_cliente,id_produto,id_funcionario,data_hora_atendimento,status_chamado,tipo_chamado,tempo_total_atendimento,indice_satisfacao,descricao_chamado
0,1,1,1,1,None,F,1,80,80,Produto com defeito
1,2,2,1,2,None,X,2,45,50,Atraso na entrega
2,3,3,1,1,None,F,1,90,95,D√∫vida sobre a garantia

‚≠ê Satisfa√ß√£o:

Empty DataFrame
Columns: [id_satisfacao, id_sac, nota, comentario]
Index: []

üìπ Visualiza√ß√µes:

Empty DataFrame
Columns: [id_visualizacao, id_video, id_cliente, data_hora_visualizacao]
Index: []

In [7]:
conn.close()